<div class="wrap">
  <!-- <div class="connection_wrap">
    <%= link_to 'New Connection', new_connection_path %>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search.." title="Type in a name">
    <table id="myTable">
      <thead>
        <tr class="header">
          <th style="width:60%;">상품명</th>
          <th style="width:20%;">이미지</th>
          <th style="width:20%;">관리</th>
        </tr>
      </thead>

      <tbody>
        <% @connections.each do |connection| %>
          <tr>
            <td><%= link_to connection.con_title, connection %></td>
            <td><%= link_to image_tag(connection.con_image), connection %></td>
            <td><%= link_to 'Edit', edit_connection_path(connection) %> | 
            <%= link_to 'Destroy', connection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
 -->

<div id="columns">

  <% @connections.each do |connection| %>
    <figure>
      <a class="fiqure_a" href="/guides/guihashtag/<%= connection.con_link %>">
        <img src="<%= connection.con_image %>">
        <figcaption>
          <%= connection.con_title %>
          <%= link_to 'Edit', edit_connection_path(connection) %> | 
          <%= link_to 'Destroy', connection, method: :delete, data: { confirm: 'Are you sure?' } %>
        </figcaption>
      </a>

    </figure>
  <% end %>
  

  <figure>
    <a class="fiqure_a" href="/featureds/fhashtag/세번째">
      <img src="https://images.unsplash.com/photo-1580310173421-8784cc72069f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cGFkZGluZyUyMGpha2V0fGVufDB8fDB8&auto=format&fit=crop&w=500&q=60">
      <figcaption>주방 정리하기 좋은 것들</figcaption>
    </a>
  </figure>


  <!-- 
  <figure>
  <img src="https://images.unsplash.com/photo-1583359312696-cbc5d73e5f8d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8cGFkZGluZyUyMGpha2V0fGVufDB8fDB8&auto=format&fit=crop&w=500&q=60">
  <figcaption>Belle, based on 1770’s French court fashion</figcaption>
  </figure>
   -->
</div>