<div class="wrap">
  
  <div class="visual clearfix">
    <div class="main-title">
      <!-- <div class="visual-banner">
        <img src="<%=asset_path 'banner-sale.png' %>">
      </div>
      <div class="visual-banner-m">
        <img src="<%=asset_path 'banner-sale-m.png' %>">
      </div> -->
      <h2><span>주제별</span>로 모아모아</h2>
    </div>
  </div>

  <div id="columns">

    <% @connections.each do |connection| %>
      <figure>
        <a class="fiqure_a" href="/guides/guihashtag/<%= connection.con_link %>">
          <img src="<%= connection.con_image %>">
          <figcaption>
            <%= connection.con_title %>
            <ul class="clearfix">
              <li><%= link_to 'Edit', edit_connection_path(connection) %></li>
              <li><%= link_to 'Destroy', connection, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          </figcaption>
        </a>

      </figure>
    <% end %>
    

    <figure>
      <a class="fiqure_a" href="/featureds/fhashtag/세번째">
        <img src="https://images.unsplash.com/photo-1580310173421-8784cc72069f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cGFkZGluZyUyMGpha2V0fGVufDB8fDB8&auto=format&fit=crop&w=500&q=60">
        <figcaption>주방 정리하기 좋은 것들</figcaption>
      </a>
    </figure>


    <!-- 
    <figure>
    <img src="https://images.unsplash.com/photo-1583359312696-cbc5d73e5f8d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8cGFkZGluZyUyMGpha2V0fGVufDB8fDB8&auto=format&fit=crop&w=500&q=60">
    <figcaption>Belle, based on 1770’s French court fashion</figcaption>
    </figure>
     -->
  </div>
</div>