<div class="layout">
  <div class="wrap">
    <div class="shop-title">
      <h1>LOCKER.</h1>
    </div>

    <div class="card-wrap clearfix">
      <div class="cart-title"><span>찜뽕한거 잠시 보관 중...</span></div>
      <% @order_items.each do |item| %>
        <div class="card">
          <div class="image-box">
            <% if item.post.p_spare_01.present? %>
              <% item.post.p_spare_01 %>
              <div class="no-background">
                <%= link_to image_tag(item.post.post_image, alt:"", title:""), item.post if item.post.post_image.attached? %>
              </div>
            <% else %>
              <%= link_to image_tag(item.post.post_image, alt:"", title:""), item.post if item.post.post_image.attached? %>
            <% end %>
          </div>
          <!-- <div class="source"><p>By <%= item.post.source %></p></div> -->
          <hr>
          <div class="inner">
            <p><%= item.post.title %></p>
            <div class="cart-delete"><%= link_to "X", item, method: :delete, remote: true %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



