<div class="wrap">
  <div class="shop-title">
    <h1>BLOG.</h1>
  </div>

  <div class="blog-wrapping">
    <div class="blog-box clearfix">

      <a href="/blogging/first_blog">
        <div class="blog-card">
          <div class="blog-image">
            <img src="https://www.wellbow.co.kr/wp-content/uploads/2018/11/kinto_white_17oz_01.png">
          </div>      
          <div class="inner">
            <p>이거 없이<br> 여름 나려고?</p>
          </div>
        </div>
      </a>

      <a href="#n">
        <div class="blog-card">
          <div class="blog-image">
            <img src="https://img4.tmon.kr/cdn3/deals/2019/11/13/2701747074/front_312b6_lzhhn.jpg">
          </div>      
          <div class="inner">
            <p>미모<br> 급속충전</p>
          </div>
        </div>
      </a>

      <a href="#n">
        <div class="blog-card">
          <div class="blog-image">
            <img src="https://contents.sixshop.com/thumbnails/uploadedFiles/56465/product/image_1561984579493_750.jpg">
          </div>      
          <div class="inner">
            <p>같은 핸드폰<br> 다른 느낌</p>
          </div>
        </div>
      </a>

      <a href="#n">
        <div class="blog-card">
          <div class="blog-image">
            <img src="https://www.wellbow.co.kr/wp-content/uploads/2018/11/kinto_white_17oz_01.png">
          </div>      
          <div class="inner">
            <p>이거 없이<br> 여름 나려고?</p>
          </div>
        </div>
      </a>

      <a href="#n">
        <div class="blog-card">
          <div class="blog-image">
            <img src="https://img4.tmon.kr/cdn3/deals/2019/11/13/2701747074/front_312b6_lzhhn.jpg">
          </div>      
          <div class="inner">
            <p>난 뒷사람과<br> 눈이 마주친다.</p>
          </div>
        </div>
      </a>

      <a href="#n">
        <div class="blog-card">
          <div class="blog-image">
            <img src="https://contents.sixshop.com/thumbnails/uploadedFiles/56465/product/image_1561984579493_750.jpg">
          </div>      
          <div class="inner">
            <p>같은 핸드폰<br> 다른 느낌</p>
          </div>
        </div>
      </a>

    </div>
  </div>


  

  <!-- <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Link</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.title %></td>
          <td><%= blog.link %></td>
          <td><%= link_to 'Show', blog %></td>
          <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
          <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Blog', new_blog_path %>
</div> -->