
<p>
  <strong>Title:</strong>
  <%= @halfprice.hf_title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @halfprice.hf_body %>
</p>

<p>
  <strong>Hfcategory:</strong>
  <%= @halfprice.hfcategory.name %>
</p>

<%= link_to 'Edit', edit_halfprice_path(@halfprice) %> |
<%= link_to 'Back', halfprices_path %>
