<p id="notice"><%= notice %></p>

<h1>Scategories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Display in navbar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scategories.each do |scategory| %>
      <tr>
        <td><%= scategory.name %></td>
        <td><%= scategory.description %></td>
        <td><%= scategory.display_in_navbar %></td>
        <td><%= link_to 'Show', scategory %></td>
        <td><%= link_to 'Edit', edit_scategory_path(scategory) %></td>
        <td><%= link_to 'Destroy', scategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scategory', new_scategory_path %>
