<div class="card-wrap clearfix">
  <div class="where">
    <% if params[:category].present? %>
      <div><p><em>Categories</em> > <span><%= params[:category] %></span></p></div>
    <% else %>
      <% if params[:guide].present? %>
        <div><p><a href="/guides">Gift Guide</a> > <span><%= params[:guide] %></span></p></div>
      <% else %> 
        <% if params[:shop].present? %>
          <div><p><a href="/shops">Shop</a> > <span><%= params[:shop] %></span></p></div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="where-hashtag">
    <% if params[:name].present? %>
      <p>#<%= params[:name] %></p>
    <% end %>
  </div>  
  
  <% @posts.each do |post| %>
    <div class="card">
      <div class="image-box">
        <% if post.p_spare_05.present? %>
          <div class="img-60p">
            <%= link_to image_tag(post.post_image, alt:"", title:""), post if post.post_image.attached? %>
          </div>
        <% else %>
          <% if post.p_spare_01.present? %>
            <% post.p_spare_01 %>
            <div class="no-background">
              <%= link_to image_tag(post.post_image, alt:"", title:""), post if post.post_image.attached? %>
            </div>
          <% else %>
            <%= link_to image_tag(post.post_image, alt:"", title:""), post if post.post_image.attached? %>
          <% end %>
        <% end %>
      </div>
      <!-- <div class="source"><p>By <%= post.source %></p></div> -->
      <hr>
      <div class="inner">
        <p><%= link_to post.title, post %></p>
        <div class="add">
          <%= form_with model: @order_item do |f| %>
            <%= f.hidden_field :post_id, value: post.id %>
            <%= f.submit "+", onclick: 'add_to_cart()'  %>
            <!-- <%= f.submit "♥", onclick: 'add_to_cart()'  %> -->
          <% end %> 
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="card-wrap clearfix">
  <%= raw pagy_nav(@pagy) %>
</div>


<script>
  function add_to_cart()
  {
    alert('Locker에 잠시 보관했습니다.');
  }
</script>



