<div class="visual clearfix">
  <div class="main-title">
    <!-- <h2 class="ver-01">Discover The <b><span>AW</span><span>ES</span><span>O</span><span>ME</span></b> Design</h2>
    <span class="sub_title">Curated by thinking defferently.</span> -->

    <!-- <%= render 'shared/visual' %> -->

    <div class="visual-banner">
      <img src="<%=asset_path 'banner.png' %>">
    </div>
    <div class="visual-banner-m">
      <img src="<%=asset_path 'bannerm.png' %>">
    </div>


    <!-- <h2 class="ver-02">PINKY ALPACA</h2>
    <span class="span-02">이왕 사는거 예쁜걸로 사자</span> -->

    <!-- <div class="visual-card-wrap clearfix">

      <ul>
        <li>
          <a href="">
            <img src="https://cdn.pixabay.com/photo/2019/09/23/16/39/square-4499056_960_720.jpg">
            <p>이것은 텍스트입니다.</p>
          </a>
        </li>

        <li>
          <a href="">
            <img src="https://cdn.pixabay.com/photo/2019/09/23/16/39/square-4499056_960_720.jpg">
            <p>이것은 텍스트입니다.</p>
          </a>
        </li>

        <li>
          <a href="">
            <img src="https://cdn.pixabay.com/photo/2019/09/23/16/39/square-4499056_960_720.jpg">
            <p>이것은 텍스트입니다.</p>
          </a>
        </li>
      </ul>

    </div> -->


   <!--  <div class="cd-slider">
      <ul>
        <li>
          <div class="image" style="background-image:url(https://images.unsplash.com/photo-1421809313281-48f03fa45e9f?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>
          <div class="content">
            <h2>나 없이 여름 나려고?</h2>
            <a href="#">더 보기</a>
          </div>
        </li>
        <li>
          <div class="image" style="background-image:url(https://images.unsplash.com/uploads/1411724908903377d4696/2e9b0cb2?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>
          <div class="content">
            <h2>Accessories</h2>
            <a href="#">View Gallery</a>
          </div>
        </li>
        <li>
          <div class="image" style="background-image:url(https://images.unsplash.com/photo-1416838375725-e834a83f62b7?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>
          <div class="content">
            <h2>Winter Shoes</h2>
            <a href="#">View Gallery</a>
          </div>
        </li>
        <li>
          <div class="image" style="background-image:url(https://images.unsplash.com/35/JOd4DPGLThifgf38Lpgj_IMG.jpg?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>
          <div class="content">
            <h2>Winter Collection 2017</h2>
            <a href="#">View Gallery</a>
          </div>
        </li>
        <li>
          <div class="image" style="background-image:url(https://images.unsplash.com/photo-1453974336165-b5c58464f1ed?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1000);"></div>
          <div class="content">
            <h2>Summer Collection</h2>
            <a href="#">View Gallery</a>
          </div>
        </li>      
      </ul>
    </div> -->


    <% if current_user && current_user.admin %>
      <div class="admin">
        <%= link_to 'New Post', new_post_path %> | 
        <%= link_to "New Category", new_category_path %> | 
        <%= link_to 'Sing Out', destroy_user_session_path, method: :delete %>
      </div>
    <% end %>
  </div>

  <%= form_for "",url: posts_path, role: "search", method: :get do %>
    <%= text_field_tag :search, @search_term, placeholder: "Search....." %>
  <% end %>

  <div class="category-pc">
    <ul class="clearfix">
      <li><a class="btn" href="/">Everything</a></li>
      <% Category.where(display_in_navbar: true).each do |cat | %>
        <li><%= link_to cat.name, posts_path(category: cat.name), class: "btn" %></li>
      <% end %>
    </ul>
  </div>

  <div class="category-mobile">
    <ul class="clearfix">
      <li><a class="btn-m" href="/">Everything</a></li>
      <% Category.where(display_in_navbar: true).each do |cat | %>
        <li><%= link_to cat.name, posts_path(category: cat.name), class: "btn-m" %></li>
      <% end %>
    </ul>
  </div>
  
  <!-- <div class="category-mobile">
    <ul class="clearfix">
      <li><a class="btn-m" href="/">ALL</a></li>
      <li><a class="btn-m" href="/posts?category=Tech">TECH</a></li>
      <li><a class="btn-m" href="/posts?category=Home">HOME</a></li>
      <li><a class="btn-m" href="/posts?category=Kitchen">KITCHEN</a></li>
      <li><a class="btn-m" href="/posts?category=Fashion">FASHION</a></li>
      <li><a class="btn-m" href="/posts?category=Outdoor">OUTDOOR</a></li>
      <li><a class="btn-m" href="/posts?category=Other">OTHER</a></li>
    </ul>
  </div> -->

</div>

