<div class="wrap">
  
  <div class="visual clearfix">
    <div class="main-title">
      <h2>Discover The AWESOME Items</h2>
      <span>Curated by thinking defferently.</span>
      <% if current_user %>
        <%= link_to 'Sing Out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign In', new_user_registration_path %>
        <%= link_to "Sign Up", new_user_session_path %>
      <% end %>
    </div>
    <div class="category-pc">
      <ul class="clearfix">
        <li><a class="btn" href="/">Everything</a></li>
        <% Category.where(display_in_navbar: true).each do |cat | %>
          <li><%= link_to cat.name, posts_path(category: cat.name), class: "btn" %></li>
        <% end %>
      </ul>
    </div>
    <div class="category-mobile">
      <ul class="clearfix">
        <li><a class="btn-m" href="/"><img src="<%=asset_path 'star.png' %>" alt="뒤로가기" />Everything</a></li>
        <li><a class="btn-m" href="/posts?category=Electronic">Electronic</a></li>
        <li><a class="btn-m" href="/posts?category=Home">Home</a></li>
        <li><a class="btn-m" href="/posts?category=Kitchen">Kitchen</a></li>
        <li><a class="btn-m" href="/posts?category=Beauty">Beauty</a></li>
        <li><a class="btn-m" href="/posts?category=Sports+%26+Outdoors">Sports & Outdoor</a></li>
      </ul>
    </div>
  </div>
  <% if current_user && current_user.admin %>
    <div class="admin">
      <%= link_to 'New Post', new_post_path %> | 
      <%= link_to "New Category", new_category_path %>
    </div>
  <% end %>

  <div class="where">
    <% if params[:category].present? %>
      <div><p>Categories > <span><%= params[:category] %></span></p></div>
    <% else %>
      <% if params[:guide].present? %>
        <div><p><a href="/guides">Gift Guide</a> > <span><%= params[:guide] %></span></p></div>
      <% else %> 
        <% if params[:shop].present? %>
          <div><p><a href="/shops">Shop</a> > <span><%= params[:shop] %></span></p></div>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <div class="card-wrap clearfix">
    
    <% @posts.each do |post| %>
      <div class="card">
        <div class="image-box">
          <% if post.p_spare_01.present? %>
            <% post.p_spare_01 %>
            <div class="no-background">
              <%= link_to image_tag(post.post_image, alt:"", title:""), post if post.post_image.attached? %>
            </div>
          <% else %>
            <%= link_to image_tag(post.post_image, alt:"", title:""), post if post.post_image.attached? %>
          <% end %>
        </div>
        <hr>
        <div class="inner">
          <p><%= post.title %></p>
        </div>
      </div>
    <% end %>
  </div>


</div>







