<div class="wrap">
  
  <div class="visual clearfix">
    <div class="main-title">
      <h2>Discover The Best Items</h2>
      <span>Curated by thinking defferently.</span>
    </div>
    <ul class="clearfix">
      <li><a class="btn" href="/">Everything</a></li>
      <% Category.all.each do |cat| %> 
        <li><%= link_to cat.name, posts_path(category: cat.name), class: "btn" %></li>
      <% end %>
    </ul>
  </div>

  <div class="admin">
    <%= link_to 'New Post', new_post_path %> | 
    <%= link_to "New Category", new_category_path %>
  </div>

  <div class="where">
    <% if params[:category].present? %>
      <div><p>Categories > <span><%= params[:category] %></span></p></div>
    <% else %>
      <% if params[:guide].present? %>
        <div><p><a href="/guides">Gift Guide</a> > <span><%= params[:guide] %></span></p></div>
      <% else %> 
        <% if params[:shop].present? %>
          <div><p><a href="/shops">Shop</a> > <span><%= params[:shop] %></span></p></div>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <div class="card-wrap clearfix">
    
    <% @posts.each do |post| %>
      <div class="card">
        <div class="image-box">
          <% if post.p_spare_01.present? %>
            <% post.p_spare_01 %>
            <div class="no-background">
              <%= link_to image_tag(post.post_image, alt:"", title:""), post if post.post_image.attached? %>
            </div>
          <% else %>
            <%= link_to image_tag(post.post_image, alt:"", title:""), post if post.post_image.attached? %>
          <% end %>
        </div>
        <div class="inner">
          <p><%= post.title %></p>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Only in display:<br>
  <% Category.where(display_in_navbar: true).each do |cat | %>
    <span><%= link_to cat.name, posts_path(category: cat.name) %> | </span>
  <% end %>
  <br><br> -->


</div>







