<div class="wrap">
  <a href="/"><img class="go_back" src="<%=asset_path 'go_back.png' %>" alt="뒤로가기" /></a>
  <div class="show-container clearfix">
    <div class="show-image-box">
      <% if @post.p_spare_01.present? %>
        <% @post.p_spare_01 %>
        <div class="no-background">
          <%= link_to image_tag(@post.post_image, alt:"", title:""), @post if @post.post_image.attached? %>
        </div>
      <% else %>
        <%= link_to image_tag(@post.post_image, alt:"", title:""), @post if @post.post_image.attached? %>
      <% end %>
    </div>
    <div class="inner">
      <span>by <%= @post.source %></span>
      <p><%= @post.title %></p>
      <div class="pricing">
        <span class="is"><%= number_to_currency(@post.is_price, locale: :kr) %>원</span>
        <% if @post.was_price.present? %>
          <span class="was"><%= number_to_currency(@post.was_price, locale: :kr) %>원</span>
          <% final_pct = 0 %>
          <% final_pct =  (@post.was_price - @post.is_price) / @post.was_price * 100 %>
          <span class="pct">( <%= number_to_percentage(final_pct, precision: 0) %> OFF )</span>
        <% end %>
      </div>
      <!-- <span><%= @post.category.name %></span> -->

      <div class="show-btn pc-ver"><a target="_blank" href="#n">Buy Now On Coupang</a></div>
    </div>
    <div class="show-btn mobile"><a href="#n">Buy Now On Coupang</a></div> 

    <div class="admin">
      <%= link_to 'Back', posts_path %> | 
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

  </div>

  <div class="relative-box">
    <span>You might like this...</span>
    <div class="relative-items clearfix">
      <% @relative.shuffle.take(8).each do |more| %>
        <% if more.shop_id == @post.shop_id %>
          <div class="relative-image-box">
            <%= image_tag(more.post_image) if more.post_image.attached? %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>


</div>


