<div class="wrap">
  <a href="/"><img class="go_back" src="<%=asset_path 'go_back.png' %>" alt="뒤로가기" /></a>
  <div class="show-container clearfix">
    <div class="show-image-box">
      <% if @post.p_spare_01.present? %>
        <% @post.p_spare_01 %>
        <div class="no-background">
          <%= link_to image_tag(@post.post_image, alt:"", title:""), @post if @post.post_image.attached? %>
        </div>
      <% else %>
        <%= link_to image_tag(@post.post_image, alt:"", title:""), @post if @post.post_image.attached? %>
      <% end %>
    </div>
    <div class="inner">
      <% if @post.source.present? %><span>by <%= @post.source %></span><% end %>
      <p class="title"><%= @post.title %></p>

      <div class="pricing">
        <span class="is"><%= number_to_currency(@post.is_price, locale: :kr) %>원</span>
        <% if @post.was_price.present? %>
          <span class="was"><%= number_to_currency(@post.was_price, locale: :kr) %>원</span>
          <% final_pct = 0 %>
          <% final_pct =  (@post.was_price - @post.is_price) / @post.was_price * 100 %>
          <span class="pct">( <%= number_to_percentage(final_pct, precision: 0) %> OFF )</span>
        <% end %>
      </div>            

      <div class="spec clearfix">
        <div class="boxes common">
          <div class="box">
            <p>평  점</p>
            <% if @post.p_spare_03.present? %>
              <span><%= @post.p_spare_03 %>/5.0</span>
            <% else %>
              <span>-</span>
            <% end %>
          </div>
          <div class="box">
            <p>리  뷰</p>
            <% if @post.p_spare_04.present? %>
              <span><%= @post.p_spare_04 %>개 +</span>
            <% else %>
              <span>-</span>
            <% end %>
          </div>
          <div class="box">
            <p>로켓 배송</p>
            <% if @post.p_spare_05.present? %>
              <span><%= @post.p_spare_05 %></span>
            <% else %>
              <span>NO</span>
            <% end %>
          </div>
        </div>
      </div>

      <% if current_user && current_user.admin %>
        <div class="hashtag">
          <p><%= render_with_hashtags(@post.p_spare_02.to_s) %></p>
        </div>
      <% end %>

      <!-- <span><%= @post.category.name %></span> -->

      <div class="show-btn pc-ver"><a target="_blank" href="<%= @post.link %>">BUY NOW ON COUPANG<!-- <img src="<%=asset_path 'arrow-right.png' %>"> --></a></div>
      
      <!-- <div class="sharing">
        <div class="addthis_inline_share_toolbox_9x2f"></div>
      </div> -->
      
    </div>
    <div class="show-btn mobile"><a href="<%= @post.link %>">BUY NOW ON COUPANG</a></div> 


    <% if current_user && current_user.admin %>
      <div class="admin">
        <%= link_to 'Back', posts_path %> | 
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

  </div>

</div>


<div class="wrap">
  <div class="relative-box">
    <p><span>사람들은 이런것도 좋아해요.</span></p>
    <div class="relative-items clearfix">
      <% @relative.shuffle.take(8).each do |more| %>
        <% if more.shop_id == @post.shop_id %>
          <div class="relative-image-box">
            <%= link_to image_tag(more.post_image, alt:"", title:""), more if more.post_image.attached? %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="notice-warp">
      <div class="notice_m">
        <strong>Notice</strong>
        <span> * 가격 정보는 업데이트 이후 변경 될 수있습니다.</span>
        <span> * 쿠팡 파트너스와 함께하며 활동을 통해 일정액의 수수료를 제공받을 수 있습니다.</span>
      </div>
      <div class="notice_pc">
        <strong>Notice</strong>
        <span> * 가격 정보는 업데이트 이후 변경 될 수있습니다.</span>
        <span> * 쿠팡 파트너스와 함께하며 활동을 통해 일정액의 수수료를 제공받을 수 있습니다.</span>
      </div>
    </div>
  </div>
</div>

<script>
  function add_to_cart()
  {
    alert('Locker에 잠시 보관했습니다.');
  }
</script>

