<%= simple_form_for(@featured) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.select :ff_spare_06, options_for_select([["로켓배송", ""], "YES"])%>
  <div class="form-inputs">
    <div class="featured-box">
      <%= f.input :ff_title, label: '상품 이름' %>
      <%= f.input :ff_spare_03, label: '상품 이미지' %>
      <%= f.input :ff_hashtag, label: '상품 해시태그' %>
      <%= f.input :ff_is_price, label: '현재 가격' %>
      <%= f.input :ff_was_price, label: '할인전 가격' %>
      <%= f.input :ff_spare_04, label: '평점' %>
      <%= f.input :ff_spare_05, label: '리뷰 수' %>
      <%= f.input :ff_pct, label: '할인율' %>
    </div>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
