<div class="wrap">
  <div class="blog_wrap">
    <h2><%= @featured.ff_title %></h2>
    <p>#<%= render_with_fhashtags(@featured.ff_hashtag.to_s) %></p>
    <%= link_to 'Back', featureds_path %> | 
    <%= link_to 'Edit', edit_featured_path(@featured) %> |
    <%= link_to 'Destroy', @featured, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>