<%= simple_form_for(@featured) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="featured-box">
      <%= f.input :ftitle, label: '메인타이틀 01' %>
      <%= f.input :fimage, label: '메인 이미지'  %>
      <!-- <%= f.input :furl %> -->
    </div>

    <hr>

    <div class="featured-box">
      <p>Featured - 01</p>
      <%= f.input :f_image_01, label: '상품 이미지'  %>
      <%= f.input :f_link_01, label: '상품 URL' %>
      <%= f.input :f_subtitle_01, label: '상품명'  %>
      <%= f.input :f_description_01, label: '상품 설명'  %>
      <%= f.input :f_spare_01, label: '구매 사이트'  %>
    </div>

    <div class="featured-box">
      <p>Featured - 02</p>
      <%= f.input :f_image_02, label: '상품 이미지'  %>
      <%= f.input :f_link_02, label: '상품 URL' %>
      <%= f.input :f_subtitle_02, label: '상품명'  %>
      <%= f.input :f_description_02, label: '상품 설명'  %>
      <%= f.input :f_spare_02, label: '구매 사이트'  %>
    </div>

    <div class="featured-box">
      <p>Featured - 03</p>
      <%= f.input :f_image_03, label: '상품 이미지' %>
      <%= f.input :f_link_03, label: '상품 URL' %>
      <%= f.input :f_subtitle_03, label: '상품명'  %>
      <%= f.input :f_description_03, label: '상품 설명'  %>
      <%= f.input :f_spare_03, label: '구매 사이트'  %>
    </div>

    <div class="featured-box">
      <p>Featured - 04</p>
      <%= f.input :f_image_04, label: '상품 이미지' %>
      <%= f.input :f_link_04, label: '상품 URL' %>
      <%= f.input :f_subtitle_04, label: '상품명' %>
      <%= f.input :f_description_04, label: '상품 설명' %>
      <%= f.input :f_spare_04, label: '구매 사이트'  %>
    </div>

    <div class="featured-box">
      <p>Featured - 05</p>
      <%= f.input :f_image_05, label: '상품 이미지' %>
      <%= f.input :f_link_05, label: '상품 URL' %>
      <%= f.input :f_subtitle_05, label: '상품명' %>
      <%= f.input :f_description_05, label: '상품 설명' %>
      <%= f.input :f_spare_05, label: '구매 사이트'  %>
    </div>

    <div class="featured-box">
      <p>Featured - 06</p>
      <%= f.input :f_image_06, label: '상품 이미지' %>
      <%= f.input :f_link_06, label: '상품 URL' %>
      <%= f.input :f_subtitle_06, label: '상품명' %>
      <%= f.input :f_description_06, label: '상품 설명' %>
      <%= f.input :f_spare_06, label: '구매 사이트'  %>
    </div>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
