<div class="wrap">
  <div class="shop-title">
    <h1>FEATURED.</h1>
  </div>

  <div class="blog-wrapping">
    <div class="blog-box clearfix">
      <% @featureds.each do |featured| %>
        <a href="/blogging/<%= featured.furl %>">
          <div class="blog-card">
            <div class="blog-image">
              <img src="<%= featured.fimage %>">
            </div>      
            <div class="inner">
              <p><%= featured.ftitle %></p>
              <em><%= link_to 'Edit', edit_featured_path(featured) %></em>
              <em><%= link_to 'Destroy', featured, method: :delete, data: { confirm: 'Are you sure?' } %></em>
            </div>
          </div>
        </a>
      <% end %>

      <a href="/blogging/first_blog">
        <div class="blog-card">
          <div class="blog-image">
            <img src="https://www.wellbow.co.kr/wp-content/uploads/2018/11/kinto_white_17oz_01.png">
          </div>      
          <div class="inner">
            <p>이거 없이 여름 나려고?</p>
          </div>
        </div>
      </a>

      <a href="/posts/hashtag/화이트">
        <div class="blog-card">
          <div class="blog-image">
            <img src="https://img4.tmon.kr/cdn3/deals/2019/11/13/2701747074/front_312b6_lzhhn.jpg">
          </div>      
          <div class="inner">
            <p>미모<br> 급속충전</p>
          </div>
        </div>
      </a>

      <a href="#n">
        <div class="blog-card">
          <div class="blog-image">
            <img src="https://contents.sixshop.com/thumbnails/uploadedFiles/56465/product/image_1561984579493_750.jpg">
          </div>      
          <div class="inner">
            <p>같은 핸드폰<br> 다른 느낌</p>
          </div>
        </div>
      </a>

      <a href="#n">
        <div class="blog-card">
          <div class="blog-image">
            <img src="https://www.wellbow.co.kr/wp-content/uploads/2018/11/kinto_white_17oz_01.png">
          </div>      
          <div class="inner">
            <p>이거 없이<br> 여름 나려고?</p>
          </div>
        </div>
      </a>

      <a href="#n">
        <div class="blog-card">
          <div class="blog-image">
            <img src="https://img4.tmon.kr/cdn3/deals/2019/11/13/2701747074/front_312b6_lzhhn.jpg">
          </div>      
          <div class="inner">
            <p>난 뒷사람과<br> 눈이 마주친다.</p>
          </div>
        </div>
      </a>

      <a href="#n">
        <div class="blog-card">
          <div class="blog-image">
            <img src="https://contents.sixshop.com/thumbnails/uploadedFiles/56465/product/image_1561984579493_750.jpg">
          </div>      
          <div class="inner">
            <p>같은 핸드폰<br> 다른 느낌</p>
          </div>
        </div>
      </a>

    </div>
  </div>

<!-- <h1>Featureds</h1>

<table>
  <thead>
    <tr>
      <th>Ftitle</th>
      <th>Furl</th>
      <th>Fimage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @featureds.each do |featured| %>
      <tr>
        <td><%= featured.ftitle %></td>
        <td><%= featured.furl %></td>
        <td><%= featured.fimage %></td>
        <td><%= link_to 'Show', featured %></td>
        <td><%= link_to 'Edit', edit_featured_path(featured) %></td>
        <td><%= link_to 'Destroy', featured, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Featured', new_featured_path %>
  -->