<% if current_user && current_user.admin %>
<div class="wrap">
  <h1>Editing Guide</h1>
  <%= simple_form_for(@guide) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.select :gui_spare_04, ([["로켓배송", ""], "YES"])%>

    <div class="form-inputs">
      <div class="input-box">      
        <%= f.input :gui_spare_01, label: "이미지" %>
        <%= f.input :gui_title, label: "상품명" %>
        <%= f.input :gui_is_price, label: "현재가격" %>
        <%= f.input :gui_was_price, label: "할인전가격" %>
        <%= f.input :gui_source, label: "판매 사이트" %>
        gui_source
        <%= f.input :gui_spare_02, label: "평점" %>
        <%= f.input :gui_spare_03, label: "리뷰 수" %>
        <%= f.input :gui_link, label: "해시태그" %>
        <%= f.input :gui_spare_05, label: "상품 URL" %>
        <!-- <%= f.input :display_in_navbar %> -->
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>

  <%= link_to 'Show', @guide %> |
  <%= link_to 'Back', guides_path %>
</div>
<% end %>