<div class="layout">
  <div class="wrap">

    <div class="shop-title"><h1>GIFT GUIDE.</h1></div>
    <div class="guide-wrap">
      <div class="guide-card event clearfix">
        <h2>특별한 선물이 필요할 때.</h2>
        <ul>
          <li>
            <input type="checkbox" checked>
            <i></i>
            <h3>좋아하는 색깔은?</h3>
            <p>
              <a class="common red" href="/posts/hashtag/빨강">RED</a>
              <a class="common blue" href="/posts/hashtag/">BLUE</a>
              <a class="common green" href="/posts/hashtag/">GREEN</a>
              <a class="common purple" href="/posts/hashtag/">PURPLE</a>
              <a class="common yellow" href="/posts/hashtag/">YELLOW</a>
            </p>
          </li>
          <li>
            <input type="checkbox" checked>
            <i></i>
            <h3>얼마면되?</h3>
            <p>
              <a class="common price" href="/posts/hashtag/1만원이하">1만원 이하</a>
              <a class="common price" href="/posts/hashtag/1만원대">1만원대</a>
              <a class="common price" href="/posts/hashtag/2만원대">2만원대</a>
              <a class="common price" href="/posts/hashtag/3만원대">3만원대</a>
              <a class="common price" href="/posts/hashtag/4만원대">4만원대</a>
              <a class="common price" href="/posts/hashtag/5만원대">5만원대</a>
              <a class="common price" href="/posts/hashtag/6만원대">6만원대</a>
              <a class="common price" href="/posts/hashtag/7만원대">7만원대</a>
              <a class="common price" href="/posts/hashtag/8만원대">8만원대</a>
              <a class="common price" href="/posts/hashtag/9만원대">9만원대</a>
              <a class="common price" href="/posts/hashtag/10만원이상">10만원 이상</a>
            </p>
          </li>
          <li>
            <input type="checkbox" checked>
            <i></i>
            <h3>무슨 선물을 원해?</h3>
            <p>
              <a class="common event" href="/posts/hashtag/">생일 선물</a>
              <a class="common event" href="/posts/hashtag/">집들이 선물</a>
              <a class="common event" href="/posts/hashtag/">신혼 선물</a>
              <a class="common event" href="/posts/hashtag/">불라 선물</a>
              <a class="common event" href="/posts/hashtag/">불라 선물</a>
            </p>
          </li>
          <li>
            <input type="checkbox" checked>
            <i></i>
            <h3>누구를 위한 선물이야?</h3>
            <p>
              <a class="common who" href="/posts/hashtag/">남자</a>
              <a class="common who" href="/posts/hashtag/">여자</a>
              <a class="common who" href="/posts/hashtag/">엄마</a>
              <a class="common who" href="/posts/hashtag/">아빠</a>
              <a class="common who" href="/posts/hashtag/">친구</a>
              <a class="common who" href="/posts/hashtag/">여친</a>
              <a class="common who" href="/posts/hashtag/">남친</a>
            </p>
          </li>
          <li>
            <input type="checkbox" checked>
            <i></i>
            <h3>그 사람은 어떤 사람이야?</h3>
            <p>
              <a class="common who" href="/posts/hashtag/">이상한놈</a>
              <a class="common who" href="/posts/hashtag/">수상한놈</a>
              <a class="common who" href="/posts/hashtag/">조용한놈</a>
              <a class="common who" href="/posts/hashtag/">좋은놈</a>
              <a class="common who" href="/posts/hashtag/">나쁜놈</a>
            </p>
          </li>
          <li>
            <input type="checkbox" checked>
            <i></i>
            <h3>어떤 브랜드 좋아해?</h3>
            <p>
              <a class="common brand" href="/posts/hashtag/">나이키</a>
              <a class="common brand" href="/posts/hashtag/">아디다스</a>
              <a class="common brand" href="/posts/hashtag/">뉴발란스</a>
              <a class="common brand" href="/posts/hashtag/">언더아머</a>
              <a class="common brand" href="/posts/hashtag/">아식스</a>
            </p>
          </li>
        </ul>
        
      </div><!--/.guide-card-->
    </div><!--/.guide-wrap-->

  </div>
</div>


<!-- <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Display in navbar</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @guides.each do |guide| %>
          <tr>
            <td><%= link_to image_tag(guide.guide_image, alt:"", title:""), guide if guide.guide_image.attached? %></td>
            <td><%= guide.name %></td>
            <td><%= guide.description %></td>
            <td><%= guide.display_in_navbar %></td>
            <td><%= link_to 'Show', guide %></td>
            <td><%= link_to 'Edit', edit_guide_path(guide) %></td>
            <td><%= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Guide', new_guide_path %> -->