<div class="layout">
  <div class="wrap">

    <div class="shop-title">
      <h1>GIFT GUIDE.</h1>
    </div>
    <div class="guide-wrap">
      <!-- <img src="<%=asset_path 'gift-guide.png' %>"> -->
      <h1>Guides</h1>

      

    </div>

  </div>
</div>


<!-- <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Display in navbar</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @guides.each do |guide| %>
          <tr>
            <td><%= link_to image_tag(guide.guide_image, alt:"", title:""), guide if guide.guide_image.attached? %></td>
            <td><%= guide.name %></td>
            <td><%= guide.description %></td>
            <td><%= guide.display_in_navbar %></td>
            <td><%= link_to 'Show', guide %></td>
            <td><%= link_to 'Edit', edit_guide_path(guide) %></td>
            <td><%= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Guide', new_guide_path %> -->