<div class="layout">
  <div class="wrap">

    <div class="shop-title"><h1>GIFT GUIDE.</h1></div>
    <div class="guide-wrap">
      <div class="guide-card event clearfix">
        <h2>특별한 선물이 필요할 때.</h2>
        <ul>
          <li>
            <input type="checkbox" checked>
            <i></i>
            <h3>좋아하는 색깔은?</h3>
            <p>
              <a class="common red" href="#n">RED</a>
              <a class="common blue" href="#n">BLUE</a>
              <a class="common green" href="#n">GREEN</a>
              <a class="common purple" href="#n">PURPLE</a>
              <a class="common yellow" href="#n">YELLOW</a>
            </p>
          </li>
          <li>
            <input type="checkbox" checked>
            <i></i>
            <h3>얼마면되?</h3>
            <p>
              <a class="common price" href="#n">1만원대</a>
              <a class="common price" href="#n">2만원대</a>
              <a class="common price" href="#n">3만원대</a>
              <a class="common price" href="#n">4만원대</a>
              <a class="common price" href="#n">5만원대</a>
              <a class="common price" href="#n">6만원대</a>
              <a class="common price" href="#n">7만원대</a>
              <a class="common price" href="#n">8만원대</a>
              <a class="common price" href="#n">9만원대</a>
              <a class="common price" href="#n">10만원 이상</a>
            </p>
          </li>
          <li>
            <input type="checkbox" checked>
            <i></i>
            <h3>무슨 선물을 원해?</h3>
            <p>
              <a class="common event" href="#n">생일 선물</a>
              <a class="common event" href="#n">집들이 선물</a>
              <a class="common event" href="#n">신혼 선물</a>
              <a class="common event" href="#n">불라 선물</a>
              <a class="common event" href="#n">불라 선물</a>
            </p>
          </li>
          <li>
            <input type="checkbox" checked>
            <i></i>
            <h3>누구를 위한 선물이야?</h3>
            <p>
              <a class="common who" href="#n">남자</a>
              <a class="common who" href="#n">여자</a>
              <a class="common who" href="#n">엄마</a>
              <a class="common who" href="#n">아빠</a>
              <a class="common who" href="#n">친구</a>
              <a class="common who" href="#n">여친</a>
              <a class="common who" href="#n">남친</a>
            </p>
          </li>
          <li>
            <input type="checkbox" checked>
            <i></i>
            <h3>어떤 브랜드 좋아해?</h3>
            <p>
              <a class="common brand" href="#n">나이키</a>
              <a class="common brand" href="#n">아디다스</a>
              <a class="common brand" href="#n">뉴발란스</a>
              <a class="common brand" href="#n">언더아머</a>
              <a class="common brand" href="#n">아식스</a>
            </p>
          </li>
        </ul>
        
      </div><!--/.guide-card-->
    </div><!--/.guide-wrap-->

  </div>
</div>


<!-- <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Display in navbar</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @guides.each do |guide| %>
          <tr>
            <td><%= link_to image_tag(guide.guide_image, alt:"", title:""), guide if guide.guide_image.attached? %></td>
            <td><%= guide.name %></td>
            <td><%= guide.description %></td>
            <td><%= guide.display_in_navbar %></td>
            <td><%= link_to 'Show', guide %></td>
            <td><%= link_to 'Edit', edit_guide_path(guide) %></td>
            <td><%= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Guide', new_guide_path %> -->