<div class="wrap">
  <button onclick="goBack()"><img class="go_back" src="<%=asset_path 'go_back.png' %>" alt="뒤로가기" /></button>
  <!-- <a href="/sales" onclick="goBack()"><img class="go_back" src="<%=asset_path 'go_back.png' %>" alt="뒤로가기" /></a> -->
  <script>
  function goBack() {
    window.history.back();
  }
</script>
  <!-- <a href="/sales"><img class="go_back" src="<%=asset_path 'go_back.png' %>" alt="뒤로가기" /></a> -->

  <div class="show-container clearfix">
    <div class="show-image-box">
      <div class="no-background">
        <!-- <%= link_to image_tag(@sale.sale_image, alt:"", title:""), @sale if @sale.sale_image.attached? %> -->
        <img src="<%= @sale.s_spare_07 %>">
      </div>

      <% if current_user && current_user.admin %>
        <div class="admin-sns">
          <%= render "sales/sns" %>
        </div>
      <% end %>

    </div>


    <div class="inner">
      <div class="source-time">
        <% if @sale.s_source.present? %>
          <span>by <%= @sale.s_source %></span>
        <% else %>
          <span>by 쿠팡</span>
        <% end %>
         <span> / <%= time_ago_in_words(@sale.created_at) %> ago</span>
      </div>
      <p class="title title_sale"><%= @sale.s_title %></p>

      <div class="pricing">
        <span class="is"><%= number_to_currency(@sale.s_is_price, locale: :kr) %>원</span>
        <% if @sale.s_was_price.present? %>
          <span class="was"><%= number_to_currency(@sale.s_was_price, locale: :kr) %>원</span>
          <% final_pct = 0 %>
          <% final_pct =  (@sale.s_was_price - @sale.s_is_price) / @sale.s_was_price * 100 %>
          <span class="pct">( <%= number_to_percentage(final_pct, precision: 0) %> OFF )</span>
        <% end %>
        <% if current_user && current_user.admin %>
          <% if @sale.s_source.present? %>
            <span class="bycou">by <%= @sale.s_source %></span>
          <% else %>
            <span class="bycou">by 쿠팡</span>
          <% end %>
        <% end %>
        <% saving = 0 %>
        <% saving =  @sale.s_was_price - @sale.s_is_price %>
        <strong><span><%= number_to_currency(saving, locale: :kr) %>원</span> 절약 할 수 있어요.</strong>
      </div>            

      <div class="spec clearfix">
        <div class="boxes common">
          <div class="box">
            <p>평  점</p>
            <% if @sale.s_spare_01.present? %>
              <span><%= @sale.s_spare_01 %> / 5</span>

            <% else %>
              <span>-</span>
            <% end %>
          </div>
          <div class="box">
            <p>리뷰 수</p>
            <% if @sale.s_spare_02.present? %>
              <span><%= @sale.s_spare_02 %>개 +</span>
            <% else %>
              <span>-</span>
            <% end %>
          </div>
          <% if @sale.s_source.present? %>
          <% else %>
            <div class="box">
              <p>로켓 배송</p>
              <% if @sale.s_spare_08.present? %>
                <span>YES</span>
              <% else %>
                <span>NO</span>
              <% end %>
            </div>

          <% end %>
        </div>
        <!-- <p>별 5개: 매우좋음, 별 4~4.5개: 좋음, 별 3~3.5: 보통, 별 3개 미만: 나쁨</p> -->
      </div>

      <% if current_user && current_user.admin %>
        <h4>Only for admin</h4>
        <p>해시태그: <%= render_with_shashtags(@sale.s_hashtag.to_s) %></p>
        <script async defer data-pin-hover="true" data-pin-lang="en" src="//assets.pinterest.com/js/pinit.js"></script>
      <% end %>

      <% if @sale.s_source.present? %>
        <div class="show-btn pc-ver"><a target="_blank" href="<%= @sale.s_link %>"><%= @sale.s_source %> 최저가 확인하기</a></div>
      <% else %>
        <div class="show-btn pc-ver"><a target="_blank" href="<%= @sale.s_link %>">쿠팡 최저가 확인하기</a></div>
      <% end %>
      
      <!-- <div class="sharing">
        <div class="addthis_inline_share_toolbox_9x2f"></div>
      </div> -->
      
    </div>
    <% if @sale.s_source.present? %>
      <div class="show-btn mobile"><a target="_blank" href="<%= @sale.s_link %>"><%= @sale.s_source %> 최저가 확인하기</a></div>
    <% else %>
      <div class="show-btn mobile"><a target="_blank" href="<%= @sale.s_link %>">쿠팡 최저가 확인하기</a></div>
    <% end %>


    <% if current_user && current_user.admin %>
      <div class="admin">
        <%= link_to 'Back', sales_path %> | 
        <%= link_to 'Edit', edit_sale_path(@sale) %> |
        <%= link_to 'Destroy', @sale, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

  </div>

</div>


<div class="wrap">
  <div class="relative-box">
    <!-- <p><span>널 위해 더 준비 해봤어.</span></p>
    <div class="relative-items clearfix">
      <% @relative.shuffle.take(8).each do |more| %>
        <% if more.scategory_id == @sale.scategory_id %>
          <div class="relative-image-box">
            <%= link_to image_tag(more.sale_image, alt:"", title:""), more if more.sale_image.attached? %>
          </div>
        <% end %>
      <% end %>
    </div> -->

    <div class="notice-warp">
      <div class="notice_m">
        <strong>Notice</strong>
        <span> * 가격 및 평점,리뷰 정보는 포스팅 이후 변경 될 수있습니다.</span>
        <span> * 쿠팡 파트너스와 함께하며 활동을 통해 일정액의 수수료를 제공받을 수 있습니다.</span>
      </div>
      <div class="notice_pc">
        <strong>Notice</strong>
        <span> * 가격 및 평점,리뷰 정보는 포스팅 이후 변경 될 수있습니다.</span>
        <span> * 쿠팡 파트너스와 함께하며 활동을 통해 일정액의 수수료를 제공받을 수 있습니다.</span>
      </div>
    </div>
  </div>
</div>
